AWSTemplateFormatVersion: "2010-09-09"
Transform: ExecutionRoleBuilder-1
Resources:
  ExecutionRoleBuilderMacroTestRole: 
    Type: "AWS::IAM::Role"
    Properties: 
      Exeroletype: "s3,ec2,ecs,kinesis"
      Name: "list-checked-role-1"
      Permissions:
        - ReadWrite: "arn:aws:lambda:ap-south-1:522814733729:function:demo1,arn:aws:lambda:ap-south-1:522814733729:function:demo2"
